body {
    background-color: rgb(240, 183, 223);
}

h1{
    text-align: center;
    color: rgb(231, 71, 7);
    font-size: 300%;
    font-weight: bolder;
    text-decoration: underline;
}

h2{
    text-align: center;
    color: blue;
    font-style: oblique;
}

P{
    font-style: oblique;
}

#l1{
    color: red;
    font-style: oblique;
}

.l2{
    color: darkred;
    font-style: oblique;
    text-decoration: underline;
}
