body{
    background-color: #ffd9d9;
}
h1{
    color: rgb(38, 3, 134);

}
#l1{
    line-height: 200%;
    background-color:#FF3366;
}
#l2{
    line-height: 300%; 
    text-align: center;

}
#l3{
    line-height: 300%;
    text-align: center;
}
#l4{
    line-height: 300%; 
    text-align: center;
}
#l5{
    line-height: 300%; 
    text-align: center;
}
#l6{
    line-height: 300%;
    text-align: center;
}
#l7{
    line-height: 400%;
    text-align: center;
}
#l8{
    line-height: 400%;
    text-align: center;
}